// Specific CSS for your layout css app & home
.home-image{
  height: 60vh;
  width:100%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.concept-description{
  height: 200vh;
}

