
<h1>all memestories</h1>


<%= render 'shared/memecard' %>

<div class="memecard-container">
  <div class="meme-title">
    <p><%= @memes.first.title %></p>
  </div>

  <div class="meme-image">

  </div>

  <div class="meme-votes">

    <div class="upvote-container">
      <% if current_user.voted_for? @meme %>
        <p>you  have upvoted</p>
        <% else !current_user.voted_for? @meme %>
        <p> you have downvoted</p>
      <% end %>
      <i class="fas fa-angle-up"></i>
      <div class="nb-vote">
        <p><%= @memes.first.get_upvotes.size %></p>
      </div>
    </div>

    <div class="downvote-container">
      <i class="fas fa-angle-down"></i>
      <p><%= @memes.first.get_downvotes.size %></p>
    </div>

  </div>
</div>
