<div class="popnav-bar">
  <div class="popnav-container">
    <div class="animation">
      <%= link_to "Home", "/", class: "avlink-1" %>
    </div>
    <div class="animation">
      <%= link_to "About", "/about", class: "avlink-1" %>
    </div>
    <div class="animation">
      <a href="" class="navlink-3 ">Contact</a>
    </div>
    <div class="animation">
      <a href="" class="navlink-4 ">MemeStories</a>
    </div>
  </div>
</div>
