<div class="home-title-container">
  <%= image_tag "don_écran.png", alt: "fon écran",  class: "don-ecran" %>
</div>

<div class="home-description-container">
  <% if user_signed_in? %>
  <p>hello  welcome</p>

  <% end %>
</div>
