
<div class="container col-12">
  <div class="row ">
    <div class="">
     <%= cl_image_tag("tnlpq12izmekwzrnb4c6", class:'home-image'  ) %>
    </div>
  </div>

  <div class="concept-description">

      <div class="concept-1">
        <p></p>
      </div>
      <div class="concept-2">

      </div>
      <div class="concetp-3">

      </div>
  </div>

</div>


