.memecard-container{
  margin: 5vh auto 0 auto;
  width: 65vh;
  height: 75vh;
  border-radius: 8px;
  box-shadow:  4px 6px 18px 0px rgba(0,0,0,0.41);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.meme-title{
  border-radius: 8px 8px 0 0;
  background: rgb(47,12,84);
  background: linear-gradient(180deg, rgba(47,12,84,1) 23%, rgba(82,50,117,1) 64%, rgba(112,83,145,1) 97%);
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name-logo{
  display:flex;
  align-items: center;
}

.meme-title-font{
  text-decoration: none;
  color: white;
  margin: auto 5px auto 5px;
}


.meme-title a:hover{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.meme-image{
  height: 60vh;
  display: flex;
  justify-content: space-between;
}

.meme-image img{
  width : 100%;
}

.meme-votes{
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.upvote-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.downvote-container{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
