.memecard-container{
  margin-top: 100px;
  margin-left: 100px;
  width: 50vh;
  height: 70vh;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}


.meme-title{
  height: 10vh;
}

.meme-image{

}

.meme-image img{
  width : 100%
}
.meme-votes{
  height: 10vh;
  margin-top: 10vh;
}


.meme-votes{
  display: flex;
  justify-content: space-around;
}
