.navbar-container {
  justify-content: space-between;
}

.navbar-container .navbar-collapse {
  flex-grow: 0;
}

.navbar-container .navbar-brand img {
  width: 40px;
}

.ul-container{
  display: flex;
  justify-content: space-around;
  align-items:center;
  height:100%;
}

.navbar-coll{
  height: 100%;
}

.ul-container li {
  padding: 0;
  margin: 0 2vh;
}

.ul-container li:hover{
  transition: 0.8s all;
  background-color: #FDCB02;
  box-shadow: 0px 0px 18px 5px rgba(253, 203, 2,0.3);
  border-radius: 5px;
  }


.nav-font{
  font-size: 1.1rem;
}


